################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/universalentropiccompression/universal.entropic.compression/bin/Debug/netcoreapp3.1
