################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/universalentropiccompression/universal.entropic.compression/bin/Debug/netcoreapp3.1
/src/universalentropiccompression/.vs/universalentropiccompression/v16
/src/universalentropiccompression/universal.entropic.compression/obj/Debug/netcoreapp3.1
/src/universalentropiccompression/universal.entropic.compression/obj
